
<div class="jumbotron jumbotronBg jumbotronImg jumbotron-fluid text-light">
	<div class="container">
		<h1 class="display-4"><strong>Categories</strong></h1>
		<p class="lead"><strong>Nerd Herd</strong>, <em>noun</em>,<br/>
			A large group of nerds of either one or multiple kinds, who are mutually friends.</p>
	</div>
</div>

<!-- Card Categories -->

<div class="row mx-0 justify-content-center">
	<div class="card text-success bg-dark col-lg-4 col-md-6 col-sm-10 m-2">
		<img class="card-img-top" src="/src/app/category/controllers.jpg" alt="video games">
		<div class="card-body">
			<h5 class="card-title">Video Games</h5>
			<p class="card-text">Meetup with friends for LAN parties, split screen, or to trade your favorites pocket
				monsters!</p>
			<a href="#" class="btn btn-success">Link Up!</a>
		</div>
	</div>

	<div class="card text-success bg-dark col-lg-4 col-md-6 col-sm-10 m-2">
		<img class="card-img-top" src="/src/app/category/cosplay.jpg" alt="cosplay">
		<div class="card-body">
			<h5 class="card-title">Cosplay</h5>
			<p class="card-text">Join with your cohort of ruffians to sew, craft, and build the best costumes you
				can.</p>
			<a href="#" class="btn btn-success">Suit Up!</a>
		</div>
	</div>

	<div class="card text-success bg-dark col-lg-4 col-md-6 col-sm-10 m-2">
		<img class="card-img-top" src="/src/app/category/dungeons.jpg" alt="table games">
		<div class="card-body">
			<h5 class="card-title">Table Games</h5>
			<p class="card-text">Roll some dice, raid the dungeon, save the princess, crush your enemies!</p>
			<a href="#" class="btn btn-success">Roll for Initiative!</a>
		</div>
	</div>

	<div class="card text-success bg-dark col-lg-4 col-md-6 col-sm-10 m-2">
		<img class="card-img-top" src="/src/app/category/tv.jpg" alt="movies">
		<div class="card-body">
			<h5 class="card-title">Movies and TV</h5>
			<p class="card-text">Every movie buff needs someone to argue with, find your nemesis here!</p>
			<a href="#" class="btn btn-success">On screen!</a>
		</div>
	</div>

	<div class="card text-success bg-dark col-lg-4 col-md-6 col-sm-10 m-2">
		<img class="card-img-top" src="/src/app/category/books.jpg" alt="books">
		<div class="card-body">
			<h5 class="card-title">Books</h5>
			<p class="card-text">Find fellow book worms to discuss plot holes, inconsistencies, and talk about the
				next part of your favorite series.</p>
			<a href="#" class="btn btn-success">Find a quiet place.</a>
		</div>
	</div>
</div>