<div class="jumbotron jumbotron-fluid text-light" id="jumboEvent">
	<div class="container">
		<h1 class="display-4">Events</h1>
		<p class="lead"><strong>Nerdacon</strong>, <em>noun</em>,<br/>
			A place where nerds gather to do nerd things.</p>
	</div>
</div>

<main class="my-5">
	<div class="row mx-0">
		<div class="col-md-12">
			<button class="btn btn-success" routerLink="/add-event">Create a New Event!</button>
		</div>
	</div>

	<div class="row mx-2 my-3">
		<div class="card-deck">
			<div class="card">

				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<button routerLink="/event" class="btn btn-success my-1">Go to Event</button>
				</div>
			</div>
			<div class="card">

				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<button routerLink="/event" class="btn btn-success my-1">Go to Event</button>
				</div>
			</div>
			<div class="card">

				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<button routerLink="/event" class="btn btn-success my-1">Go to Event</button>
				</div>
			</div>
		</div>
	</div>

</main>








