<div class="jumbotron jumbotron-fluid text-light" id="jumboEvent">
	<div class="container">
		<h1 class="display-4">Events</h1>
		<p class="lead"><strong>Nerdacon</strong>, <em>noun</em>,<br/>
			A place where nerds gather to do nerd things.</p>
	</div>
</div>

<main class="my-5">
	<div class="row mx-0">
		<div class="col-md-12">
			<button class="btn btn-success" routerLink="/add-event">Create a New Event!</button>
		</div>
	</div>

	<div class="row mx-2 my-3">

			<div class="card col-sm-12 col-md-6 col-lg-6" *ngFor="let event of events">
				<div class="card-body">
					<h5 class="card-title"> {{ event.eventName }}</h5>
					<p class="card-text"> {{ event.eventDetails }}</p>
					<p class="card-text"><small class="text-muted"> {{ event.eventEndDateTime | date: 'medium'}}</small></p>
					<button routerLink="/event" class="btn btn-success my-1">Go to Event</button>
				</div>
			</div>

	</div>


</main>








