<div class="jumbotron jumbotron-fluid text-light jumboEv">
	<div class="container">
		<h1 class="display-4">Events</h1>
		<p class="lead"><strong>Nerdacon</strong>, <em>noun</em>,<br/>
			A place where nerds gather to do nerd things. ie: Dungeons & Dragons, PUBG, Star Trek, Pokémon, etc.</p>
	</div>
</div>

<main class="my-5">
	<div class="row mx-0">
		<div class="col-md-12">
			<button class="btn btn-success">Create a New Event!</button>
		</div>
	</div>

	<div class="row mx-0">
		<div class="col-md-12">
			<p>Here is all the cards, ya?</p>
			<img src="https://res.cloudinary.com/jerrick/image/upload/f_auto,fl_progressive,q_auto,c_fit,w_982/jmkc7pd9ptv1doluy7ze" alt="the incredible nightcrawler"/>
		</div>
	</div>

</main>








