<div class="form">
	<div class="create-event">
		<form class="form-horizontal" [formGroup]="createEventForm" (submit)="createEvent();" novalidate>

			<h4 class="text-success">Create a New Event</h4>
			<hr/>

			<div class="form-group">
				<label for="eventCategoryId" class="control-label">
					Choose your Category
				</label>

				<select class="form-control" formControlName="eventCategoryId" name="eventCategoryId" id="eventCategoryId">
					<option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.categoryType}}</option>
				</select>

			</div>

			<div class="form-group">
				<label for="eventName" class="control-label">
					Event Name
				</label>
				<input name="eventName" type="text" id="eventName" formControlName="eventName" class="form-control" autocomplete="off" required placeholder="What are you calling your event?">
			</div>

			<div class="form-group">
				<label for="eventDetails" class="control-label">
					Event Details
				</label>
				<textarea name="eventDetails" type="text" id="eventDetails" formControlName="eventDetails" class="form-control" autocomplete="off" required placeholder="Tell us the name and about your event!"></textarea>
			</div>

			<div class="form-group">
				<label for="eventStartDateTime" class="control-label">
					Event Start Date and Time
				</label>
				<input type="datetime-local" id="eventStartDateTime" formControlName="eventStartDateTime" class="form-control" required placeholder="When does your event start?">
			</div>


			<div class="form-group">
				<label for="eventEndDateTime" class="control-label">
					Event End Date and Time
				</label>
				<input type="datetime-local" id="eventEndDateTime" formControlName="eventEndDateTime" class="form-control" required placeholder="When does your event end?">
			</div>


			<div class="form-group" >
				<h5 class="text-light">Event Address:</h5>
				<label for="eventStreet">
					Street:
				</label>
				<input type="text" formControlName="eventStreet" id="eventStreet" class="form-control">

				<label for="eventStreet2">
					Street 2:
				</label>
				<input type="text" formControlName="eventStreet2" id="eventStreet2" class="form-control">

				<label for="eventCity">
					City:
				</label>
				<input type="text" formControlName="eventCity" id="eventCity" class="form-control">

				<label for="eventState">
					State:
				</label>
				<input type="text" formControlName="eventState" id="eventState" class="form-control">

				<label for="eventZip">
					Zip Code:
				</label>
				<input type="text" formControlName="eventZip" id="eventZip" class="form-control">

			</div>

			<button type="submit" class="button button-block px-2">Create Your Event</button>

		</form><!-- create event form -->
	</div> <!-- creating an event -->
</div> <!-- wrapping the form -->