/* Bordered form */
form {
	border: 3px solid black;
}
.container {
	background-image: url("../img/matrix-door2.jpg");
	background-repeat: no-repeat;
}


/* Full-width inputs */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20rem;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}


/* Add padding to containers */
.container {
	padding: 16px;
	position: absolute;
	top: 15rem;
	left: 55rem;
	text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span {
		display: block;
		float: none;
	}
}