<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
	<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->

<div class="form">

		<!--<ul class="tab-group">-->
			<!--<li class="tab active"><a href="#signup">Sign Up</a></li>-->
			<!--<li class="tab"><a href="#login">Log In</a></li>-->
		<!--</ul>-->

		<div class="sign-up">
			<form id="signup">
				<h1>Sign Up for Free</h1>

					<!--actual form-->
					<form class="form-horizontal" [formGroup]="signUpForm" (ngSubmit)="createSignUp();" novalidate>

						<div class="form-group">
							<label for="profileAtHandle" class="control-label">
								@Handle<span class="req">*</span>
							</label>
							<input name="profileAtHandle" type="text" id="profileAtHandle" formControlName="profileAtHandle" class="form-control" required autocomplete="off" placeholder="@Handle">
						</div>
						<div class="alert alert-danger" *ngIf="signUpForm.controls.profileAtHandle?.invalid && signUpForm.controls.profileAtHandle?.touched">
							<p *ngIf="signUpForm.controls.profileAtHandle?.errors.maxLength">@Handle is too long</p>
							<p *ngIf="signUpForm.controls.profileAtHandle?.errors.required">@Handle required</p>
						</div>

					<div class="form-group">
						<label for="profileEmail" class="control-label">
							Email Address<span class="req">*</span>
						</label>
						<input type="email" name="profileEmail" id="profileEmail" class="form-control input-sm" formControlName="profileEmail" required autocomplete="off" placeholder="Email Address">
					</div>

					<div class="alert alert-danger" *ngIf="signUpForm.controls.profileEmail?.invalid && signUpForm.controls.profileEmail?.touched">
						<p *ngIf="signUpForm.controls.profileEmail?.errors.maxLength">Email is too long</p>
						<p *ngIf="signUpForm.controls.profileEmail?.errors.required">Email required</p>
					</div>

					<div class="form-group">
						<label for="profilePassword" class="control-label">
							Set Password<span class="req">*</span>
						</label>
						<input type="password" name="profilePassword" id="profilePassword" class="form-control input-sm" formControlName="profilePassword" required autocomplete="off" placeholder="Set Password">
					</div>

					<div class="alert alert-danger" *ngIf="signUpForm.controls.password?.invalid && signUpForm.controls.password?.touched">
						<p *ngIf="signUpForm.controls.profilePassword?.errors.maxLength">Password is too long</p>
						<p *ngIf="signUpForm.controls.profilePassword?.errors.required">You must enter a password to sign up</p>
					</div>

					<div class="form-group">
						<label for="profilePasswordConfirm" class="control-label">
							Confirm Password<span class="req">*</span>
						</label>
						<input type="password" name="profilePasswordConfirm" id="profilePasswordConfirm" class="form-control input-sm" formControlName="profilePasswordConfirm" required autocomplete="off" placeholder="Confirm Password">
					</div>

					<div class="alert alert-danger" *ngIf="signUpForm.controls.profilePasswordConfirm?.invalid && signUpForm.controls.profilePasswordConfirm?.touched">
						<p *ngIf="signUpForm.controls.profilePasswordConfirm?.errors.maxLength">Password is too long</p>
						<p *ngIf="signUpForm.controls.profilePasswordConfirm?.errors.required">Please confirm your password</p>
					</div>

					<button type="submit" class="button button-block">Get Started</button>

					</form>

			</form>

			<!--Link to sign in-->
			<div class="sign-in text-success my-3">
				<p>Already have an account? <a routerLink="/signin">Sign In</a></p>
			</div>

		 </div><!-- sign up -->

	 </div> <!-- /form -->
