<div class="jumbotron jumbotron-fluid text-light" id="jumboEvent">
	<div class="container">
		<h1 class="display-4">Events</h1>
		<p class="lead"><strong>Nerdacon</strong>, <em>noun</em>,<br/>
			A place where nerds gather to do nerd things. ie: Dungeons & Dragons, PUBG, Star Trek, Pokémon, etc.</p>
	</div>
</div>

<main class="my-5">
	<div class="row mx-0 mb-6">

		<div class="col-md-5 px-4">
			<!--<h1 class="eventName">DEETS!</h1>-->
			<p class="eventDetails">Caleb, please do not touch this placeholder. I appreciate you helping, but if the rest of the team
			cannot see the changes being made, we do not gain the understanding of how to proceed forward. Thank you.</p>
		</div>

		<div class="col-md-7">
			<h4 class="eventStart">Event Start Time:</h4>
			<h4 class="eventEnd">Event End Time:</h4>
			<h4 class="eventLocation">Event Location: </h4>
			<hr/>
			<checkIn></checkIn>

		</div>
	</div>
</main>








