<div class="container pb-5">
	<div class="row">
		<div class="card offset-lg-1 col-md-12 col-lg-10">
			<br>

			<p><strong>Leave a comment here!</strong></p>
			<br>
			<form [formGroup]="createCommentForm" (submit)="createEventComment();" novalidate>
				<textarea class="form-control" type="text" name="commentDetails" id="commentContent" placeholder="Write your comment here" formControlName="commentContent" rows="3"></textarea>

			</form>
			<div *ngIf="isAuthenticated === true">
				<button  type="submit">Submit Comment</button>
			</div>
			<div>
				<button class="btn btn-primary" type="submit" routerLink="/signin">Please sign in to post a comment</button>
			</div>
		<div class="row border-bottom" *ngFor="let tempComment of tempComments">
			<div class="card-body">
				<h4 class="card-title">{{tempComment.profileAtHandle}}</h4>
				<p class="card-text">{{tempComment.comment.commentContent}}</p>
				<div class="small text-muted">{{tempComment.comment.commentDateTime | date:"short"}}</div>
			</div>
		</div>
		</div>
	</div>
</div>