<div class="container-fluid pb-5">
	<div class="row">
		<div class="card col-12 p-2" id="commentFooter">
			<h5 class="my-2">Leave a Comment Here!</h5>
			<form [formGroup]="createCommentForm" (submit)="createEventComment();" novalidate>
				<textarea class="form-control" type="text" name="commentContent" id="commentContent" placeholder="Write your comment here" formControlName="commentContent" rows="3"></textarea>


			<!--<div *ngIf="isAuthenticated === true">-->
				<!--<button  type="submit">Submit Comment</button>-->
			<!--</div>-->
			<div class="mt-3" *ngIf="isAuthenticated === true">
				<button class="btn btn-primary" type="submit">Post a comment</button>
				</div>
			</form>
		<div class="row border-bottom" *ngFor="let tempComment of tempComments">
			<div class="card-body">
				<h4 class="card-title">{{tempComment.profileAtHandle}}</h4>
				<p class="card-text">{{tempComment.comment.commentContent}}</p>
				<div class="small text-muted">{{tempComment.comment.commentDateTime | date:"short"}}</div>
			</div>
		</div>
		</div>
	</div>
</div>