<div class="row mx-0 mb-6">
	<div class="col-md-5 px-4">
		<h1 class="eventName">{{EventName}}</h1>



	</div>

	<div class="col-md-7">
		<h4 class="eventStart">Event Start Time:</h4>
		<h4 class="eventEnd">Event End Time:</h4>
		<h4 class="eventLocation">Event Location: </h4>
		<hr/>
		<button class="btn btn-primary"><i class="far fa-calendar-check fa-fw"></i>RSVP</button>
		<button class="btn btn-success"><i class="fas fa-check-double fa-fw"></i>Check-In</button>
		<button class="btn btn-info"><i class="far fa-comments fa-fw"></i>Comments</button>
	</div>
</div>






