/****************************************************************************
Universal CSS
****************************************************************************/

 .jumbotronCOOKIECUTTER {
	 background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 100%), url("content/imagine.jpg") no-repeat;
 }

.jumbotronImg {
	width: 100%;
	height: 100%;
}

.footer {
	position: sticky;
	bottom: 0;
	clear: both;
	background-color: #53A451;
	color: white;
}

/****************************************************************************
Profile Page Styles
 ***************************************************************************/
.jumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 100%), url("content/bowtie.jpg") center center no-repeat;
	width:100%;
	height:100%;
	background-size: cover;
}

#profileInfo {
	padding-bottom: 50px;
}

.footer {
	background-color: #53A451;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding: 5px;
	margin-top: 10px;
}

span:after{
	content:" ";
	display: inline-block;
	width:32px;
}

span {
	font-size: x-large;
}
/****************************************************************************
Check In CSS
****************************************************************************/
body{
	background-color: #c7c7c7;
}

.checkInIcon{
	color: #000;
	font-size: 5rem;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
}

/****************************************************************************
Category CSS
****************************************************************************/

.jumbotronBG {
	background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 100%), url("content/imagine.jpg") center center no-repeat;
}

.card-img-top {
	padding-top: 1rem;
	width: auto;
	height: 275px;
}


/****************************************************************************
HomePage CSS
****************************************************************************/
/* Bordered form */
form {
	border: 3px solid black;
}
body {
	background-image: url("/content/matrix door2.jpg");
	background-repeat: no-repeat;
}


/* Full-width inputs */
input[type=text], input[type=password] {
	width: 75%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.password-label {
	display: block;
}

.email-label {
	display: block;
}


/* Set a style for all buttons */
.submit {
	background-color: #008600;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20rem;
}

/* Add a hover effect for buttons */
.submit:hover {
	opacity: 0.8;
}


/* Add padding to containers */
.home-container {
	padding: 15rem;
	position: absolute;
	top: 10rem;
	left: 55rem;
	text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span {
		display: block;
		float: none;
	}
}

/**********
Auth page Css
 */

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

/*************
event page css
 ***********/

.jumboEv {
	background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 100%), url("content/chess.jpg") no-repeat;
}

.footerEv {
	position: fixed;
	bottom: 0;
	clear: both;
	background-color: #53A451;
	color: white;
}

