/**
Profile Page Styles
 */
body {
	background-color: #353A3F;
}

.nav-item {
	color: white;
	background-color: #353A3F;
}

#profile {
	padding-top: 180px;
	padding-bottom: 180px;
}

#footer {
	background-color: rgba(53, 58, 63, 0.8);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 5px;
}

span:after{
	content:" ";
	display:inline-block;
	width:32px;
}