<div class="jumbotron jumbotron-fluid text-light" id="jumboPro">
	<div class="container">
		<h1 class="display-4">Profile</h1>
		<p class="lead"><strong>Nerdemic</strong>, <em>noun</em>,<br/>
			A widespread outbreak of,  overtaking by, Nerds.</p>
	</div>
</div>

<!-- Profile Information -->
<main>
	<div class="row mx-0">
		<div class="col-md-5 px-4">
			<h2>At Handle:</h2>
			<h2 class="profileAtHandle">{{profile.profileAtHandle}}</h2>
			<h2>Email:</h2>
			<h2 class="profileEmail">{{profile.profileEmail}}</h2>
			<hr/>
		</div>
		<div class="col-md-7" id="profileInfo">
			<br>
			<h2 class="profileEvents">Events:  </h2>
			<br>
			<h2 class="profileRep">Rep:  </h2>
			<hr/>
		</div>npm
		<div class="container-fluid text-center align-content-center" id="editInfoButton">
			<button class="btn btn-primary" routerLink="/edit-profile"><i class="far fa-calendar-check fa-fw"></i>Edit Info</button>
		</div>
	</div>
</main>