<!-- Navbar -->


<!-- Jumbotron containing Profile background image -->
<div class="jumbotron jumbotron-fluid text-light">
	<div class="container">
		<h1 class="display-4">Profile</h1>
		<p class="lead"><strong>Nerdemic</strong>, <em>noun</em>,<br/>
			A widespread outbreak of,  overtaking by, Nerds</p>
	</div>
</div>

<!-- Profile Information -->
<section>
	<div class="row mx-0">
		<div class="col-md-5 px-4">
			<h2 class="profileAtHandle">@handle</h2>
			<h2 class="profileEmail">Email</h2>
			<button class="btn btn-primary"><i class="far fa-calendar-check fa-fw"></i>Edit Info</button>
			<hr/>
		</div>
		<div class="col-md-7" id="profileInfo">
			<h2 class="profileEvents">Events:  </h2>
			<h2 class="profileRep">Rep:  </h2>
			<button class="btn btn-success"><i class="fas fa-check-double fa-fw"></i>Save</button>
			<hr/>
		</div>
	</div>
</section>