<div class="jumbotron jumbotron-fluid text-light mx-auto" id="jumboPro">
	<div class="container">
		<h1 class="display-4">Profile</h1>
		<p class="lead"><strong>Nerdemic</strong>, <em>noun</em>,<br/>
			A widespread outbreak of,  overtaking by, Nerds.</p>
	</div>
</div>

<!-- Profile Information -->
<main>
	<div class="row mx-0">
		<div class="col-md-5 px-4">
			<h2>At Handle:</h2>
			<h2 class="profileAtHandle text-success">{{profile.profileAtHandle}}</h2>
			<h2>Email:</h2>
			<h2 class="profileEmail text-success">{{profile.profileEmail}}</h2>
			<hr/>
		</div>
		<div class="col-md-7">
			<h2>Events:</h2>
			<h2 class="profileEvents text-success">...</h2>
			<h2>Reputation:</h2>
			<h2 class="profileRep text-success">...</h2>
			<hr/>
		</div>
	</div>
</main>