@import "~bootstrap/dist/css/bootstrap.min.css";
/****************************************************************************
Profile Page Styles
 ***************************************************************************/
#jumboPro {
	background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 100%), url("app/profile/bowtie.jpg") center center no-repeat;
	width:100%;
	height:100%;
	background-size: cover;
}

#profileInfo {
	padding-bottom: 50px;
}

/****************************************************************************
Check In CSS
****************************************************************************/
body{
	background-color: #c7c7c7;
}

.checkInIcon{
	color: #000;
	font-size: 5rem;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
}

/****************************************************************************
Category CSS
****************************************************************************/

#categoryjumbo {
	background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 100%), url("app/category/imagine.jpg") center center no-repeat;
	width:100%;
	height:100%;
	background-size: cover;;
}

.card-img-top {
	padding-top: 1rem;
	width: auto;
	height: 275px;
}

/****************************************************************************
Event CSS
****************************************************************************/

#jumboEvent {
	background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 100%), url("app/event/chess.jpg") center center no-repeat;
	width:100%;
	height:100%;
	background-size: cover;
}

/****************************************************************************
Homepage CSS
****************************************************************************/
:root {
	--body-bg: #c1bdba;
	--form-bg: #13232f;
	--white: #ffffff;
	--main: #1ab188;
	--main-light: #1ab188,5%;
	--main-dark: #1ab188,5%;
	--gray-light: #a0b3b0;
	--gray: #ddd;
	--thin: 300;
	--normal: 400;
	--bold: 600;
	--br: 4px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	background-image: url("../src/app/img/final-matrix-door.jpg");
	background-color: #c7c7c7;
	font-family: 'Titillium Web', sans-serif;
}

.splash.door{
	background-image: url("../src/app/img/final-matrix-door.jpg");
	background-color: #c7c7c7;
	font-family: 'Titillium Web', sans-serif;
}

a {
	text-decoration: none;
	color: var(--main);
	transition: .5s ease;
}
a:hover {
	color: var(--main-dark);
}

.form {
	background: var(--form-bg);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: var(--br);
	box-shadow: 0 4px 10px 4px var(--form-bg);
	top: 20rem;
	left: 55rem;
	float: right;
}

.tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}
.tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: var(--gray-light);
	color: var(--gray-light);
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s ease;
}
.tab-group li a:hover {
	background: var(--main-dark);
	color: var(--white);
}
.tab-group .active a {
	background: var(--main);
	color: var(--white);
}

.tab-content > div:last-child {
	display: none;
}

h1 {
	text-align: center;
	color: var(--white);
	font-weight: var(--thin);
	margin: 0 0 40px;
}

label {
	color: var(--white);
	/*font-size: 22px;*/
}
label .req {
	margin: 2px;
}

input::placeholder{
	color: white;
}

label.active {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}
label.active .req {
	opacity: 0;
}

label.highlight {
	color: var(--white);
}

input, textarea {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid var(--gray-light);
	color: var(--white);
	border-radius: 0;
	transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
	outline: 0;
	border-color: var(--main);
}

textarea {
	border: 2px solid var(--gray-light);
	resize: vertical;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}
.top-row > div {
	float: left;
	width: 48%;
	margin-right: 4%;
}
.top-row > div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: var(--bold);
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #53A451;
	color: var(--white);
	transition: all 0.5s ease;
	-webkit-appearance: none;
}
.button:hover, .button:focus {
	background: var(--main-dark);
}

.button-block {
	display: block;
	width: 100%;
}

.forgot {
	margin-top: -20px;
	text-align: right;
}

.footer {
	background-color: #53A451;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding: 5px;
	margin-top: 10px;
}