
<div class="sign-in">
	<div class="signin"></div>
	<h1>Sign In</h1>
	<h3>Welcome Back!</h3>

	<!--actual form-->
	<form #signInForm="ngForm" class="form-horizontal" name="signInForm" id="signInForm" novalidate (ngSubmit)="signIn();">

		<!-- Email here -->
		<div class="form-group">
			<label for="signin-email" class="control-label">Email</label>
			<div>
				<input type="email" name="signin-email" id="signin-email" required [(ngModel)]=signin.profileEmail
						 #profileEmail="ngModel" class="form-control">
			</div>
		</div>

		<!-- Password here-->
		<div class="form-group">
			<label for="signin-password" class="control-label">Password</label>
			<div>
				<input type="password" id="signin-password" name="signin-password" required [(ngModel)]=signin.profilePassword
						 #profilePassword="ngModel" class="form-control">
			</div>
		</div>



		<button type="submit" id="submit"[disabled]="signInForm.invalid" class="button button-block">Log In</button>
	</form>
	<!--<div *ngIf="status !== null" class="alert alert-dismissible" [class]="status.type" role="alert">-->
		<!--<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span></button>-->
		<!--{{ status.message }}-->
	<!--</div>-->

</div>